div {
    margin: 1rem;
}

.container {
    border: 2px solid orange;
}

.searchBar {
    border: 2px solid blue;
}

.productTable {
    border: 2px solid green;
}

.productCategoryRow {
    border: 2px solid turquoise;
}

.productRow{
    border: 2px solid red;
}